<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>
<form th:action="@{/group/scan-group/}">
    <input type="text" th:name="vkLink" placeholder="Scan group">
</form>
<div th:switch="${groups}">

    <p><a href="/group/group-create">Create group</a></p>
    <p><a href="/users/user-list">User List</a></p>
    <p><a href="/analytic/analytics">Analytic List</a></p>
    <p><a href="/logout">Log Out</a></p>

    <h2 th:case="null">No groups found</h2>
    <div th:case="*">
        <h2>Groups</h2>
        <table>
            <thead>
            <tr>
                <th>Название</th>
                <th>Ссылка на группу вк</th>
                <th>Список пользователей</th>
                <th>Дополнительная информация</th>
                <th>Количество пользователей</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="group:${groups}">
                <td th:text="${group.groupName}"></td>
                <td th:text="${group.vkLink}"></td>
                <td>
                <select>
				<span th:each="user,iterStat : ${group.vkUsers}">
					<option>
                        <span th:text="${user.firstName} +' '+ ${user.lastName}  +', id'+ ${user.vkLink}"/><th:block
                            th:if="${!iterStat.last}">,</th:block>
                    </option>
				</span>
                </select>
                </td>
                <td th:text="${group.additionalInformation}"></td>
                <td th:text="${group.getVkUsers().size()}+' уч.'"></td>
                <td><a th:href="@{/group/edit/{id}(id=${group.id})}">Edit</a></td>
                <td><a th:href="@{/group/group-delete/{id}(id=${group.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/group/group-create">Create group</a></p>
    <p><a href="/users/user-list">User List</a></p>
    <p><a href="/analytic/analytics">Analytic List</a></p>
    <p><a href="/logout">Log Out</a></p>
</div>
</body>
</html>