<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login page</title>
</head>
<body>
<form th:action="@{/group/scan-group/}">
  <input type="text" th:name="vkLink" placeholder="Scan group">
</form>

<div>
<!--<div>-->
<!--  Login with VK: <a href="/vk/authorize">click here</a>-->
<!--</div>-->
  <p><a href="/users/user-list">User List</a></p>
  <p><a href="/group/groups">Group List</a></p>
  <p><a href="/analytic/analytics">Analytic List</a></p>
  <p><a href="/logout">Log Out</a></p>
</div>
</body>
</html>